/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

h1, h2, h3 {
    color: #4B2B23;
    font-family: polyregular,arial,sans-serif;
    
 }
 
 h1 {   
    font-size: 2.2em;
    font-weight: normal;
    line-height: 1.2em;
}
h2 {
	
    font-size: 20px;
    font-weight: normal;
    line-height: 1em;
}

h3 {

    font-size: 18px;
    font-weight: normal;
    line-height: 1em;
}


h4 {
    border-bottom: 1px dotted #CCCCCC;
    color: #323E5C;
    font-size: 17px;
    line-height: 115%;
    margin: 0.7em 0;
    padding-bottom: 2px;
}

h3, h4, h5, h6 {
    font-family: Georgia,"Dejavu Serif","Bitstream Vera Serif","Times New Roman",serif;
}
/*blue*/
#zone-branding {
    
   /* background-image: url(../images/header-blue-w-seal.png);*/
    background-color: #488ABE;
    box-shadow: 0 0 10px #000000;
}
/*blue*/
#zone-branding-wrapper {
    background-color: #477AAD;
    border-bottom: 5px solid #000000;
    border-top: 1px solid #CCCCCC;
}

#zone-menu-wrapper {
    background: none repeat scroll 0 0 #003366;
    border-bottom: 1px solid #000000;
}


/*blue*/
#zone-content-grid, #zone-content, #zone-header-wrapper, #zone-postscript {
    background-color: #E0DED2;
   
}

#zone-content-wrapper, #zone-preface-wrapper, #zone-content-grid-wrapper, #zone-postscript-wrapper {
        background-color: #E0DED2;


}






/*scarlet & brown*/

/*#zone-header-wrapper {
    background: none repeat scroll 0 0 #E0DED2;
  /*  border-bottom: 1px solid #AAAAAA;
}*/

/*scarlet & brown*/

/*#page {
    background-color: #EFEFEB;
}
/*scarlet & brown*//*#zone-branding-wrapper {
    /*background-color: #000000;*/
    /*background-color: #A90018;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #666666;
}*/

/*scarlet & brown*/
/*#zone-menu-wrapper  {
    background-color: #3C221C;
}*/
/*scarlet & brown*/
/*
#zone-branding {
    background-color: #A90018;
}
*/
#zone-header, #zone-preface, #zone-content-grid, #zone-content, #zone-postscript {
    background-color: #FFFFFF;
}

body {
    font-family: "Helvetica Neue","Helvetica","Arial";
    font-size: 14px;
}

h2.block-title {
    letter-spacing: 0;
    margin-bottom: 12px;
    margin-top: 9px;
}
a:link, a:visited {
    text-decoration: none;
}
a:hover {
    color: #669900;
}
#zone-user-wrapper {
    background-color: #000000;
    color: #FFFFFF;
    height: 40px;
}
#zone-user-wrapper a {
    color: #FFFFFF;
    float: right;
    text-decoration: none;
}


.front h1 {
    display: none;
}
.front #zone-postscript  {
    padding-bottom: 24px;
}

#block-boxes-library-databases-a-z-frontpage .content   {
    display:inline-block;
    
}

#boxes-box-library_humanities_links ul, #boxes-box-library_sciences_links ul, #boxes-box-library_social_sciences_links ul, #boxes-box-library_general_sources_links ul, #boxes-box-library_interdisciplinary_links ul   {
    line-height: 1.4em;
    list-style: none outside none;
    margin-left: 4px;
    padding-left: 4px;
}

#zone-content-grid h2.block-title  {
     color: #A90018;
    font-size: 1.3em;
    font-weight: bold;
    line-height:1em;
    
}


#boxes-box-library_databases_a_z_frontpage img, #boxes-box-library_course_resources_front  img{
        border: 1px solid #DDDDDD;
        box-shadow: 0 0 3px #ccc;
    
}

    
#section-footer  {
    background-color: #3C221C;
    border-top: 2px solid #4A2B23;
    height: 240px;
    color:#ffffff;

}
#zone-footer-wrapper{
    background-color: #4B2B23;
    border-bottom: 1px solid #38201A;
    padding-top: 25px;
    color:#ffffff;
    
}

#zone-preface {
  padding-top: 14px;


}

#zone-header {
    padding-top: 4px;
}


#zone-branding-wrapper, #zone-header-wrapper, #zone-content-grid-wrapper, #zone-menu-wrapper, #zone-preface-wrapper {
    
    
}

.front #region-content-grid-first, .front #region-content-grid-second, .front #region-content-grid-third, .front #region-content-grid-fourth {
    border-top: 3px solid #38211B;

}
#quicktabs-library_search_cluster {
    margin-top: 28px;
    border: 1px solid #CCCCCC;

    
}
#quicktabs-container-library_search_cluster     {
   
    min-height:50px;
    /*background: url("../images/block-bg.png") repeat-x scroll left top transparent;*/
    border-radius: 3px 3px 3px 3px;
    clear: both;
    overflow: hidden;
    padding: 15px;
    
}
#quicktabs-container-library_search_cluster .block {
    padding-top:14px;
}
#quicktabs-container-library_search_cluster button, input[type="reset"], input[type="submit"], input[type="button"] {
    margin-left:8px;
}

#quicktabs-library_search_cluster .item-list {
    background-color: #000;
    padding:4px 0 1px 0;
 }
 #quicktabs-library_search_cluster .item-list li a {
    color: #fff; 
}

#quicktabs-container-library_search_cluster  {
    padding-bottom: 28px;
    padding-top: 22px;
    padding-left: 28px;
    background-color: #ffffff;

}
#quicktabs-library_search_cluster  #boxes-box-odysseus p {
    display:inline;
    
    }



/*blue*/
ul.nice-menu li.menuparent a:hover,
ul.nice-menu li.menuparent:hover,
ul.nice-menu li.menuparent:hover a{
    background-color: #003366;
    }
.block-nice-menus-2 ul.nice-menu  {
    padding-top:4px;
    padding-bottom: 4px;
    
}


/*blue*/
.block-nice-menus-2 ul.nice-menu li.menuparent  {
    background-color: #003366;
    padding-right: 12px;
    
}
.block-nice-menus-2 ul.nice-menu a {
    color:#ffffff;


}
/*blue*/
  ul.nice-menu li a:hover {
    color: #fff;
    background: #003366;
  }

    ul.nice-menu,
  ul.nice-menu ul,
  ul.nice-menu li {
    border: 0;
  }
    ul.nice-menu,
  ul.nice-menu ul,
  ul.nice-menu li {
    border: 0;
    background: none;
  }

  ul.nice-menu-right li.menuparent,
  ul.nice-menu-right li li.menuparent{
    background: url('arrow-right.png') right center no-repeat;
  }




/*scarlet & brown*/
/*.block-nice-menus-2 ul.nice-menu li.menuparent  {
    background-color: #3C221C;
    padding-right: 12px;
    
}
.block-nice-menus-2 ul.nice-menu a {
    color:#ffffff;


}
  ul.nice-menu li a:hover {
    color: #fff;
    background: #3C221C;
  }

    ul.nice-menu,
  ul.nice-menu ul,
  ul.nice-menu li {
    border: 0;
  }
    ul.nice-menu,
  ul.nice-menu ul,
  ul.nice-menu li {
    border: 0;
    background: none;
  }

  ul.nice-menu-right li.menuparent,
  ul.nice-menu-right li li.menuparent{
    background: url('arrow-right.png') right center no-repeat;
  }
*/
 





#boxes-box-library_db_course_list img {
    padding-right: 6px;
    padding-left: 6px;


}

.view-featured-content img {
    background: none repeat scroll 0 0 #FFFFFF;
    /*border: 1px solid #DDDDDD;*/
    margin-top: 10px;
    padding: 4px;

}



#zone-user-wrapper  {

}

.form-item  #edit-field-ebook-subjects .form-select  {
    height: 200px;

}
.region-sidebar-first{min-height:1px; }
