/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */


#zone-content {
	min-height: 700px;

}

/*.logo-img img {
    width:320px;

}*/
/**************** hide and seek - START ***************************/

/*#block-views-manuscript-collection-block-1 {
  display: none;
}*/
/*.front #region-postscript-fourth { 
}*/

.block-nice-menus-2 {
    display: block;
}
.my-menu {
	display: block;
}
#region-branding-second #block-search-form {
    display: block;

}
/*#block-views-base-announcement-block {
    display: none;

}
#block-views-base-announcement-block-1 {
	display: none;
}

#block-views-base-announcement-block-3 {
    display: block;

}*/
/*#block-views-base-announcement-block-4 {
    display: none;
}*/
.block-superfish-1 {
    display: block;
}
.block-superfish-2 {
    display: none;
}
.block-superfish-3 {
    display: block;
}
#boxes-box-library_humanities_links ul, #boxes-box-library_sciences_links ul, #boxes-box-library_social_sciences_links ul, #boxes-box-library_general_sources_links ul, #boxes-box-library_interdisciplinary_links ul   {

    padding-left: 4px;
}

.node-type-library-manuscript-collection .field-name-field-manuscript-image  {
   /* margin-top: 106px;*/
    float: left;
    margin-right: 24px;
    margin-top: 14px;

}
.node-library-manuscript-collection .field-name-body {
  padding-top:24px;
}



.front #zone-postscript  .field-content p {
    max-width:200px;

}
.front #zone-postscript img {

    width:100px;
    height: 67px;
    float:none;

}
#zone-postscript .block-views .views-row {
    min-height: 305px;
}
