/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

#zone-content {
	min-height: 700px;

}

/*.logo-img img {
    width:320px;

}*/
/**************** hide and seek - START ***************************/

.block-nice-menus-2 {
    display: block;
}
.my-menu {
	display: block;
}
#region-branding-second #block-search-form {
    display: block;

}
#block-views-base-announcement-block {
    display: none;

}
#block-views-base-announcement-block-1 {
	display: none;
}

#block-views-base-announcement-block-3 {
    display: block;

}
/*#block-views-base-announcement-block-4 {
    display: none;
}*/
.block-superfish-1 {
    display: block;
}
.block-superfish-2 {
    display: none;
}
.block-superfish-3 {
    display: block;
}
