/* This file will hold styles that are loaded using the same media query as the wide grid. */



#quicktabs-library_search_cluster {
	margin-left: 34px;
	margin-top: 54px;
}
.view-featured-content img {
    padding-left: 60px;

}
.front .flex-nav-container {
    margin-right: 55px;

}
.context-special-collections .flex-nav-container, .context-ody-library .flex-nav-container {
	width: 680px;
	float: left;
	margin-left: 90px;
}
#boxes-box-library_db_course_list {
	margin-left: 84px;

}
